In [3]:
print(12.3+45.6+567.8, sep="+") #sep should be in the end

625.6999999999999

In [8]:
print("hello",end='\t')
print("hello",)

hello	hello

In [9]:
print(2+5)

7

In [11]:
print("2+5.5=",2+5.5)

2+5.5= 7.5

In [13]:
print(str(2)+"hello") #wrapping

2hello

In [16]:
print(2+int("100")) #wrapping integer type casting

102

In [17]:
print(2+int("100"))

102

In [33]:
name="Aashir"
age=15
lastname="Khan"


print("my name is "+name+" and my age is "+ str(age)+" last name is "+lastname)

my name is Aashir and my age is 15 last name is Khan

In [36]:
print("my name is {0} and my age is {1}".format(name, age, lastname)) #curly brackets are placeholders

my name is Aashir and my age is 15

In [40]:
print(f"my name is {name} and my age is {age} and my lastname is {lastname}") #use f after print instead of format

my name is Aashir and my age is 15 and my lastname is Khan

In [44]:
a=10.5 #we can directly declare
type(a)

float

In [49]:
b= "Frue"
type(b)

str

In [55]:
print("hello"*6,)

hellohellohellohellohellohello

In [53]:
4/3

1.3333333333333333

In [11]:
a=1070
b=745
c=a/b
print(c)# / for float // for integer 
round(c)

1.436241610738255

1

Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed Jsashdeyaed

# HGHSHGHS